---
import { contactMapEmbed } from "../../data/contact";
---

<section
  class="w-full border-y border-surface-variant"
  data-reveal
>
  <iframe
    src={contactMapEmbed}
    width="100%"
    height="420"
    style="border:0;"
    allowfullscreen
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Bản đồ vị trí PTTC JSC - Quảng Ngãi"
    class="block w-full"
  ></iframe>
</section>
